.god {
    width: 200px; 
    background:azure; 
    padding: 5px; 
    text-align: center;
    top: 40px; 
    left: -70px;
    box-shadow:0 0 10px #ff0000;
}
.name {
    text-align: center;
}
.img1 {
    text-align: center;
}
.knok {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}